subscription_id = "00000000-0000-0000-0000-000000000000"

location    = "South India"
environment = "prod"

tags = {
  environment = "prod"
  owner       = "platform"
  managed_by  = "terraform"
}

resource_groups = {
  platform = {
    name = "rg-ai-infra-prod"
  }
}

vnets = {
  primary = {
    name               = "vnet-ai-infra-prod"
    resource_group_key = "platform"

    address_space = [
      "10.10.0.0/16"
    ]

    subnets = {
      app = {
        name             = "snet-app"
        address_prefixes = ["10.10.1.0/24"]
      }

      data = {
        name             = "snet-data"
        address_prefixes = ["10.10.2.0/24"]
      }
    }
  }
}

storage_accounts = {
  application = {
    name               = "replace-with-unique-storage-name"
    resource_group_key = "platform"

    containers = {
      app_data = {
        name = "app-data"
      }

      logs = {
        name = "logs"
      }

      backups = {
        name = "backups"
      }
    }
  }
}
